html {
height: 100%;
}

body {
height: 100%;
background: #c3d9ff;
color: white;
border: 0px;
font-family: verdana, arial, sans serif;
font-weight: regular;
font-size: 11pt;
}

input {
background: #3366cc;
color: white;
border: 0px;
font-family: verdana, arial, sans-serif;
font-weight: regular;
font-size: 11pt;
}

#dv_login { 
padding: 40px; 
position: absolute; 
top: 50%; 
left: 50%; 
width: 420px; 
height: 240px; 
margin: -120px 0 0 -210px; 
border: 5px solid #e8eef7; 
background-color: #7799bb;
box-shadow: 10px 10px 5px #888; 
-moz-border-radius: 1em 4em 1em 4em;
border-radius: 1em 4em 1em 4em;
}


