html {
height: 100%;
background: #c3d9ff;
font-family: verdana, arial, sans serif;
font-weight: regular;
font-size: 11pt;
color: white;

}

#dv_login { 
padding: 2em; 
position: absolute; 
top: 50%; 
left: 50%; 
width: 420px; 
height: 340px; 
margin: -174px 0 0 -210px; 
border: 5px solid #e8eef7; 
box-shadow: 10px 10px 5px #888; 
-moz-border-radius: 1em 4em 1em 4em;
border-radius: 1em 4em 1em 4em;
background:url(../assets/login.png) no-repeat 95% 10em;
background-color: #7799bb;
}

fieldset div {
	margin:0.3em 0;
	clear:both;
}
form {
	margin:1em;
	width:27em;
}
label {
	float:left;
	width:10em;
	text-align:right;
	margin-right:1em;
}
input {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em verdana, arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 
fieldset {
	border:1px solid #ddd;
	padding:0 0.5em 0.5em;
}
input.default {
	color:#bbb;
}
legend {
	color:#0b77b7;
	font-size:1.2em;
}
legend span {
	width:10em;
	text-align:right;
}
