html {
height: 100%;
}

body {
margin: 0; 
padding: 0; 
border: 0; 
height: 100%; 
max-height: 100%; 
background: #c3d9ff;
color: white;
font-family: verdana, arial, sans serif;
font-weight: regular;
font-size: 11pt;
}

input {
background: #3366cc;
color: white;
border: 0px;
font-family: verdana, arial, sans-serif;
font-weight: regular;
font-size: 11pt;
}

.messagebox{
position:absolute;
width:100px;
margin-left:30px;
border:1px solid #c93;
background:#ffc;
padding:3px;
}

.messageboxok{
position:absolute;
width:auto;
margin-left:30px;
border:1px solid #349534;
background:#C9FFCA;
padding:3px;
font-weight:bold;
color:#008000;
}

.messageboxerror{
position:absolute;
width:auto;
/*margin-left:30px;*/
border:2px solid #CC0000;
background:#ff0008;
padding:3px;
font-weight:bold;
font-family: verdana, arial, sans-serif;
color:#ffffff;
padding:5px;
margin:10px 0px;
}

/* screen */
#head{
position: absolute;
left: 0px;
top: 0px;
right: 0px;
width: 100%;;
height: 30px;
background-color: #7799bb;
}

#version
{
position: absolute;
height: 30px;
width: 150px;
background-color: #7799bb;
right: 105px;
font-family: verdana, arial, sans-serif;
font-size: 13px;
line-height: 30px;
border-color: #ffaacc;
border-left: 1px dotted;
border-right: 1px dotted;
}

#userinfo
{
position: absolute;
height: 30px;
width: 150px;
background-color: #7799bb;
right: 45px;
font-family: verdana, arial, sans-serif;
font-size: 13px;
line-height: 30px;
border-color: #ffaacc;
border-left: 1px dotted;
border-right: 1px dotted;
}

#logout
{
position: absolute;
height: 30px;
width: 30px;
background-color: #7799bb;
right: 5px;
font-family: verdana, arial, sans-serif;
font-size: 13px;
line-height: 30px;
}

#menu
{
position: absolute;
top: 30px;
left: 0px;
right: 0px;
height: 60px;
width: 100%;
background-color: #e8eef7;
}

#content{
position: absolute;
top: 91px;
left: 0px;
right: 0px;
background-color: #c3d9ff;
}
/* screen */

li
{
display: inline;
list-style-type: none;
padding-right: 8px;
}

li
{ 
list-style:none;
padding-top:10px;
padding-bottom:10px;
}

.button, .button:visited 
{
background: #222 url(overlay.png) repeat-x; 
display: inline-block; 
padding: 5px 10px 6px; 
color: #fff; 
text-decoration: none;
-moz-border-radius: 6px; 
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor: pointer
}

.button:hover
{
background-color: #111; 
color: #fff; 
}
.button:active
{
top: 1px;
}
.small.button, .small.button:visited
{
font-size: 11px
}
.button, .button:visited, .medium.button, .medium.button:visited
{
font-size: 13px; 
font-weight: bold; 
line-height: 1; 
text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
}
.large.button, .large.button:visited
{
font-size: 14px; 
padding: 8px 14px 9px;
}
.super.button, .super.button:visited
{
font-size: 34px; 
padding: 8px 14px 9px;
}
.blue.button, .blue.button:visited
{
background-color: #2981e4;
}
.blue.button:hover
{
background-color: #2575cf;
}

